
.center-all {
    margin: auto;
    width: 90%;
    text-align: center;
    height: 800px;
}

.accountButtonsWrapper {
    display: block;
    margin-top: 25px;
    padding-bottom: 25px;
}

.greeting {
    margin-top: 2.5%;
}