.wrapper-home {
    width: 100%;
    height: 100%;
    position: relative;
}

.content-home {
    width: 100%;
    display: flex;
    justify-content: center;
}

.centered-div {
    margin-top: 3.25%;
}

.visual-home-container {
    margin-top: 2.33%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.visual-home {
    width: 40%;
    padding-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-home {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.text-home > h6 {
    font-weight: 350;
}

.cute-cinema-pic {
    width: 100%;
    height: 300px;
    border-radius: 11px;
}

.schedule-container {
    font-weight: 250;
    margin-top: 5.33%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    height: 100%;
    display: block;
}

.content-home {
    width: 100%;
    display: flex;
    justify-content: center;
}

.centered-div {
    margin-top: 3.25%;
}

.visual-home-container {
    margin-top: 2.33%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.visual-home {
    width: 40%;
    padding-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-home {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-home > h6 {
    font-weight: 350;
}

.cute-cinema-pic {
    width: 100%;
    height: 300px;
    border-radius: 11px;
}

.schedule-container {
    font-weight: 250;
    margin-top: 5.33%;
    width: 100%;
    display: flex;
    justify-content: center;
}
