.filmScreeningsWrapper {
    margin-top: 20px;
}

.filmScreeningsWrapper a {
    color: inherit;
}
.filmScreeningsWrapper a:hover {
    text-decoration: underline;
}

.filmScreeningName {
    font-size: 20pt;
    font-weight: bold;
}