.wrapper {
    width: 100%;
    height: 175vh;
}

.header {
    width: 100%;
    height: 7.5%;
    text-align: center;
    margin-top: 2.5%;
}

.stats-wrapper {
    width: 100%;
    height: 90%;
}

.sold-bar-chart-wrapper {
    width: 100%;
    height: 325px;
    margin-top: 2.5%;
    display: flex;
    justify-content: center;
}

.sold-bar-chart {
    height: 325px;
    width: 50%;
}

.income-line-chart-wrapper {
    width: 100%;
    height: 325px;
    display: flex;
    flex-direction: column;
}

.income-line-chart-additional-container {
    padding-top: 25px;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.income-line-chart {
    height: 325px;
    width: 50%;
}