
.accountButton {
    display: inline-block;
    margin: 25px 25px 25px 25px;

    width: 300px;
    height: 80px;
    line-height: 80px;

    color: white;
    background-color: #310f57;

    font-size: 30px;
}

.accountButton:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #7d27d6;
}
