.filmLinkWrapper {
    display: inline-block;
    margin: 10px 10px;
}

.filmLinkWrapper:hover {
    cursor: pointer;
    text-decoration: underline;
}

.filmNameWrapper {
    font-size: 20pt;
    text-align: center;
}

.filmPosterWrapper img {
    width: 200px;
    height: auto;
}