.wrapper {
    height: 100vh;
    width: 100%;
}

.back-button-wrapper {
    width: 100%;
    height: 7.5%;
    display: flex;
    align-items: center;
}

.back-button {
    margin-left: 15px;
    margin-top: -5px;
    border-radius: 10px;
    background-color: #310f57;
    color: white;
    width: 75px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.back-button:hover {
    font-weight: 700;
}

.movie-detail-wrapper {
    width: 100%;
    height: 40%;
    position: relative;
}

.movie-header {
    position: absolute;
    left: 2.5%;
    top: 5%;
}

.movie-release-date {
    color: rgba(158, 158, 158, 0.8);
    margin-top: -7.5px;
}

.movie-content {
    position: absolute;
    top: 20%;
    display: flex;
    width: 100%;
    padding-left: 2.5%;
    margin-top: 7.5px;
}

.poster-wrapper {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
}

.poster-wrapper > img {
    width: 80%;
    height: 80%;
}

.data-wrapper {
    width: 72.5%;
    height: 100%;
}

.data-overview {
    margin-left: -2.5%;
}

.ticket-booking-wrapper {
    width: 100%;
    height: 97.5%;
    position: absolute;
    top: 90%;
    padding-left: 2.5%;
    padding-top: 2.5%;
}

.book-tickets-button {
    width: 300px;
    height: 80px;
    line-height: 80px;
    font-size: 25pt;
    text-align: center;

    background-color: #007bff;
}

.book-tickets-button:hover {
    cursor: pointer;
}

.booking-summary-wrapper {
    margin-bottom: 15px;
}

.booking-form-error-message {
    font-size: 25pt;
    margin-bottom: 20px;
    font-weight: 500;
    color: red;
}

.booking-progress-button {
    display: inline-block;
    width: auto;
    height: 60px;
    line-height: 50px;
    color: white;
    font-size: 16pt;
    padding-left: 15px;
    background-color: #7D27D6;
    border: 2px solid #52524E;
    border-radius: 10px;
    margin-top: 10px;
}

.booking-showing-buttons {
    list-style: none;
    margin-top: 15px;
    padding-left: 0px;
}

.booking-showing-buttons:not(:first-child) {
    margin-left: 5px;
}

.booking-showing-button {
    margin-right: 5px;
    display: inline-block;
    float: left;
}

.booking-progress-button img {
    height: 60%;
    width: auto;
    margin-left: 10px;
    margin-right: 5px;
}

.booking-progress-button:hover {
    cursor: pointer;
}

.booking-summary-wrapper span {
    font-size: 15pt;
    font-weight: 500;
}

.ticket-booking-form-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.price-analysis {
    font-weight: 800;
}
