.filmDetailsWrapper {
    display: flex;
    border: 1px solid black;
    margin: 30px;
    text-align: left;
}

.filmPoster {
    margin: 30px;
}
.filmPoster img {
    width: 500px;
    height: auto;
}

.filmROD {
    width: 100%;
    float: right;
    margin: 30px;
    text-align: center;
}

.filmName {
    font-size: 50pt;
    text-decoration: underline;
}

.filmDescription {
    font-size: 20pt;
    width: 100%;
    border: 1px solid black;
    margin: 25px auto 25px;
}

.bookTicketsButton {
    float: right;
    border: 1px solid black;
    background-color: #007bff;
    color: white;
    width: 250px;
    height: 60px;
    line-height: 60px;
    font-size: 20pt;
}