.seat-map-wrapper {
    display: inline-block;
    margin: 10px auto;
    user-select: none;
}

.seat-map-row {    
    display: flex;
    vertical-align: center;
    margin: 2px 0;
}

.vip-section-wrapper {
    background-color: rgba(255, 215, 0, 0.2);
    width: 100%;
    display: flex;
    vertical-align: center;
}

.vip-section-rows {
    display: inline-block;
}

.section-label {
    float: right;
    padding-left: 50px;
    margin-right: 50px;
    font-size: 25pt;
}

.section-label-table {
    display: table;
    height: 100%;
    overflow: hidden;
}
.section-label-table-cell {
    display: table-cell;
    vertical-align: middle;
}