.ticket-wrapper {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    font-style: italic;
    color: #52524e;
}

.ticket {
    position: relative;
    width: 50%;
    height: 450px;
    border-radius: 12.5px;
    background-color: #e1e8e7;
}

.ticket-footer-wrapper {
    width: 100%;
}

.ticket-footer {
    display: flex;
    justify-content: center;
    color: rgba(49, 49, 49, 0.301);
}

.ticket-header {
    margin-top: 15px;
    font-weight: 650;
}

.ticket-screening-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.ticket-email-wrapper {
    width: 100%;
    margin-top: 15px;
}

.pdf-button {
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
}

.button-wrapper {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.pdf-button {
    width: 150px;
    height: 45px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    color: #310f57;
    background-color: #a160f0;
}

.pdf-button:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #7d27d6;
}

.ticket-qr-code {
    margin-top: 15px;
}
