.cycle-button {
    display: inline-block;
    width: 50px;
    height: 360px;
    line-height: 360px;
    font-size: 30pt;
    border: 1px solid darkgrey;
    user-select: none;
    vertical-align: top;

}

.cycle-button:hover {
    cursor: pointer;
    border: 1px solid black;
}