.searchBarWrapper {
    display: inline-block;
}

.searchInput {
    border: 1px solid black;
    border-right: none;
    width: 400px;
}
.searchInput:focus {
    outline: none;
}

.searchButton {
    border: 1px solid black;
}

.searchButton:focus {
    outline: none;
}