.film-searcher-wrapper {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.film-searcher-wrapper input {
    width: 95%;
    background-color: inherit;
    color: white;
    border: none;
    border-bottom: 2px solid #310F57;
    padding: 0 0 3px 5px;
    user-select: none;
}

.film-searcher-wrapper input:focus {
    outline: none;
    border-bottom: 2px solid #A160F0;
}


.film-searcher-wrapper button {
    float: left;
    width: 40px;
    height: 35px;
    background-color: inherit;
    border: none;
}

.film-searcher-wrapper button:focus {
    outline: none;
}

.film-searcher-wrapper img{
    width: 100%;
    height: 100%;
}
