.screeningButtonWrapper {
    border: 1px solid black;
    border-radius: 25px;
    display: inline-block;
    margin: 5px;
    background-color: #310F57;
    font-weight: bold;
    padding: 2px 10px 2px 10px;
}
.screeningButtonWrapper:hover {
    text-decoration: underline;
}