.filmLinkWrapper {
    display: inline-block;
    margin: 25px;
}

.filmLinkWrapper:hover {
    cursor: pointer;
    text-decoration: underline;
}

.filmNameWrapper {
    font-size: 20pt;
    text-align: center;
}

.filmPosterWrapper img {
    width: 300px;
    height: auto;
}

.movieLink {
    color: black;
}

.movieLink:hover {
    color: black;
}