.card-payment-form-wrapper {
    padding: 20px 2px;
}


#card-number-input {
    width: 250px;
}

#card-sc-input {
    width: 50px;
}
#card-expiry-input {
    width: 100px;
}

.card-payment-form-line {
    width: 100%;
    display: block;
    font-weight: bold;
}

.card-payment-input-wrapper {
    display: inline-block;
    margin-right: 20px;
}

.use-saved-details-button {
    margin-top: 5px;
}