.whatson-comp-wrapper {
    display: inline-block;
    padding: 40px;
}

.whatson-main-components-wrapper {
    display: inline-block;
    margin: auto;
}

.whatson-comp-title {
    text-align: center;
    font-size: 30pt;
    text-decoration: underline;
    margin-bottom: 20px;
}

.whatson-header-wrapper {
    width: 100%;
    background-color: black;
}

.search-result-area {
    position: relative;
}
.sra-with-results {
    height: 410px;
}

.sra-no-results {
    height: 100px;
}

.search-result-area a {
    color: white;
}

.close-sra-button {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: inherit;
    border: none;
    width: 100%;
    height: 50px;
    color: white;
    border: 1px solid black;
}

.close-sra-button:hover {
    border: 1px solid grey;
}
.close-sra-button:focus {
    outline: none;
}
.close-sra-button img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
}

.whatson-content-wrapper {
    position: relative;
    margin: auto;
    width: 90%;
    text-align: center;
}

.whatson-search-wrapper {
    display: inline-block;
    padding-left: 25px;
    width: 100%;
    font-size: 20pt;
}

.whatson-films-wrapper {
    float: left;
}
.whatson-screenings-wrapper {
    float: left;
}

.whatson-page-wrapper {
    position: relative;
    overflow-x: hidden;
    height: 100%;
}

.whatson-main-wrapper {
    transition: padding-right 0.5s;
}

.whatson-sidebar {
    position: absolute;
    float: right;
    top: 0;
    height: 1000px;
    width: 500px;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: black;
    text-align: center;
}

.sb-closed {
    right: -500px;
}

.sb-closed ~ .whatson-main-wrapper {
    padding-right: 0;
}

.sb-open ~ .whatson-main-wrapper {
    padding-right: 500px;
}

.sb-open {
    right: 0;
}

.sidebar-st-wrapper {
    width: auto;
    margin: auto;
    margin-top: 100px;
}

.sidebar-title {
    width: 350px;
    display: inline-block;
    font-size: 30pt;
    margin-top: 50px;
    border-bottom: 2px solid white;
}

.toggle-sidebar-button {
    z-index: 2;
    position: absolute;
    width: 50px;
    height: 250px;
    top: 300px;
    transition: 0.5s;
    background-color: white;
}
.toggle-sidebar-button:hover {
    cursor: pointer;
}

.toggle-sidebar-button-label-wrapper {
    position: relative;
}

.toggle-sidebar-button-label {
    user-select: none;
    position: absolute;
    top: 100px;
    left: -60px;
    color: black;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    display: inline-block;
    font-size: 25pt;
    font-weight: bold;
}

.sb-open ~ .toggle-sidebar-button {
    right: 500px;
}
.sb-closed ~ .toggle-sidebar-button {
    right: 0;
}

.daytab-wrapper {
    background-color: #a160f0 !important;
    border: 3px solid #310F57 !important;
    display: inline-block;
    font-size: 9pt;
    text-align: center;
}
.daytab-wrapper:hover {
  cursor: pointer;
}

.daytab-active {
    border: 3px solid white !important;
}

.daytab-wrapper {
  text-transform: uppercase;
  font-weight: bold;
}
