.modal-form-background {
    display: block;
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}

.modal-form-content {
    position: relative;
    background-color: #e1e8e7;
    margin: 20% auto;
    padding: 30px;
    border: 1px solid darkgray;
    width: 400px;
}

.modal-form-content > form {
    margin: 20px;
}

.modal-form-content input:focus {
    outline: none;
}

.modal-form-text-input {
    display: block;
    margin: 20px auto;

    background-color: lightgray;
    border: none;
    padding: 10px;
}

.modal-form-submit {
    padding: 10px 60px;
    border: none;
    border-radius: 25px;
    background-color: #A160F0;
    color: white;
}

.close-modal-button {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    line-height: 28px;
    border-radius: 20px;

    border: 5px solid #A160F0;
    color: #A160F0;
    background-color: inherit;

    font-weight: bold;
    font-size: 20pt;
}
.close-modal-button:hover {
    cursor: pointer;
}

.switch-modal-button {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
}

.smb-current {
    color: black;
    border-bottom: 3px solid #A160F0;
}

.smb-not-current {
    color: lightgray;
    transition: color .5s ease;
}

.smb-border {
    margin: auto;
    width: 0;
    border-bottom: 3px solid #A160F0;
    transition: width .5s ease;
}

.smb-not-current:hover .smb-border {
    width: 100%;
}

.smb-not-current:hover {
    color: black;
    border-bottom-width: 100%;
    cursor: pointer;
}
