
.daytab-wrapper {
    width: 40px;
    height: 60px;
    margin: 1px 2px 0 2px;
    background-color: darkgrey;
    border: 3px solid black;
    display: inline-block;
    font-size: 9pt;
    text-align: center;
}
.daytab-wrapper:hover {
  cursor: pointer;
}

.daytab-active {
    border: 3px solid #a160f0;
}

.daytab-wrapper {
  text-transform: uppercase;
  font-weight: bold;
}
