.seat-button-wrapper {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 1px 1px;
    position: relative;
    user-select: none;
}

.seat-button-wrapper:last-child {
    margin-right: 1px;
}

.seat-button {
    position: absolute;
    width: 100%;
    height: 100%;

    border-radius: 100%;

    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sb-enabled {
    background-color: blue;
    border: 2px solid darkblue;
}

.sb-enabled:hover:not(.sb-vip) {
    cursor: pointer;
    border: 2px solid #00ff00;
}
.sb-vip:hover {
    cursor: pointer;
    border: 2px solid rgb(255, 215, 0);
}

.sb-selected:not(.sb-vip){
    background-color: #00ff00;
    border: 2px solid darkgreen;
}
.sb-selected.sb-vip {
    background-color: rgb(255, 215, 0);
    border: 2px solid rgb(150, 100, 0);
}

.sb-selected:hover {
    cursor: pointer;
    border: 2px solid red;
}

.sb-disabled {
    background-color: grey;
    border: 2px solid rgb(100, 100, 100);
}