.day-screenings-wrapper {
    overflow: scroll;
}
.day-screenings-wrapper::-webkit-scrollbar {
    display: none;
}
.day-screenings-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 10px;
  }